@model Test101.Models.Nhanvien
@{
    ViewBag.Title = "HienthiThongtin";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Thông tin của nhân viên </h2>

<div>
    <table class="tbl" border="1">
        <tr>
            <th> Mã nhân viên</th>
            <td>@Html.DisplayFor(model => model.manv)</td>
        </tr>

        <tr>
            <th> Tên nhân viên</th>
            <td>@Html.DisplayFor(model => model.hoten)</td>
        </tr>

        <tr>
            <th> địa chỉ</th>
            <td>@Html.DisplayFor(model => model.diachi)</td>
        </tr>

        <tr>
            <th>Số ngày làm</th>
            <td>@Html.DisplayFor(model => model.songaylam)</td>
        </tr>

        <tr>
            <th> Số ngày làm </th>
            <td>@Html.DisplayFor(model => model.luongngay)</td>
        </tr>

        <tr>
            <th> Tiền lương</th>
            <td>@Html.DisplayFor(model => model.tienluong)</td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Back to Home page ", "NhapNV")
</p>

